# Node modules
node_modules/

# Next.js build
.next/
out/

# Logs and runtime
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# VSCode and IDEs
.vscode/
.idea/

# Mac system files
*.DS_Store

!public/
!public/**
!public/.well-known/
!public/.well-known/**
